#
# Key  | Value
#----------------------
#
# 회사명 Key
#
0078742|Walmart_WM.COM
1191030|Kroger
#
# Sorting순서
#
Sort-Walmart|1
Sort-WM.COM|2
Sort-Kroger|3
#
# item 명
#
18809729360520|Sunkist Fruit Cups Pineapple 4oz*4
18809729360513|Sunkist Fruit Cups Mango 4oz*4
18809729360858|Sunkist Fruit cup Mandarin Orange 4oz*4
8809729360523|Sunkist Fruit Cups Pineapple 4oz*4
8809729360516|Sunkist Fruit Cups Mango 4oz*4
8809729360851|Sunkist Fruit cup Mandarin Orange 4oz*4
8809729360523|Sunkist Fruit Cups Pineapple 4oz*4
8809729360516|Sunkist Fruit Cups Mango 4oz*4
8809729360851|Sunkist Fruit cup Mandarin Orange 4oz*4
8809729360523|Sunkist Fruit Cups Pineapple 4oz*4
8809729360516|Sunkist Fruit Cups Mango 4oz*4
8809729360851|Sunkist Fruit cup Mandarin Orange 4oz*4
8809729361223|Sunkist Fruit Cups Pineapple 4oz 24counts
8809729361216|Sunkist Fruit Cups Mango 4oz  24counts
8809729361230|Sunkist Fruit Cups Mandarin Orange 4oz  24counts
8809729361247|Sunkist Fruit Cups Peach 4oz  24counts
#
# 폴더명 저장
#
#850LastSourceFolder|C:\Users\KOREA\Documents\에프비홀딩스\EDI파일들\데이터베이스 자료\PO\크로거
#810LastSourceFolder|C:\Users\KOREA\Documents\에프비홀딩스\EDI파일들\데이터베이스 자료\810 Invoice (월마트 인보이스)